nav {
	background-color: lightcoral;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.link{
	/* display: flex; */
    justify-content:space-between;
    background-color: #071952;
    height: 50px;
    color: white;
    font-size: 20px ;
    box-sizing: border-box;
    /* padding-top:5px ; */
    font-family: 'Courgette', cursive
  }
  
  .link a{
	font-family: 'Cedarville Cursive', cursive;
	text-decoration: none;
	color: greenyellow;
  
  }
  
  .Top{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
  }
  
  .Top button{
	height: 40px;
	width: 150px;
	background-color: fuchsia;
	border: 2px solid darkmagenta;
	border-radius: 20px;
	cursor: pointer;
  }
  
  .studentTop button:hover{
	background-color: aquamarine;
  }
  
  .studentDown{
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .studentDown table{
	background-color: aliceblue;
	height: 380px;
	width: 900px;
	text-align: center;
  }
  
  .studentDown td,th{
	border-bottom: 1px solid black;
  
  }
  .head{
		color:midnightblue;
		justify-content: center;
		padding: 20px;
		position: relative;
		left: 43%;

  }
  