nav {
	background-color: lightcoral;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.link {
	color: white;
	text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: larger;
}

h1 {
	padding: 40px;
	color: white;
	text-shadow: 3px 4px 3px darkmagenta;
}
table,
thead {
	border-collapse: collapse;
	width: 80%;
	margin: auto;
	background-color: orchid;
	text-align: left;
}
tr {
	border-bottom: 1px solid salmon;
}
td,
th {
	padding: 10px;
	color: olive;
	background-color: antiquewhite;
}
th {
	background-color: deeppink;
	color: Gold;
}
.add{

		justify-content: center;
		width: 180px;
		height: 40px;
		border: 1px solid black;
		border-radius: 10px;
		background-color: darkorchid;
		display: flex;
		font-weight: bolder;
		font-size: 18px;
	    margin-left: 1210px; 
	
	
	
		
	
}